@import '_function';
@import '_mixin';
// 项目库
$primaryColor: #cbcbcb; //主色
$btnColor: #3294e8; //弹窗按钮颜色
$listHeader: rgba(158, 158, 158, 0.54); //表头颜色
$borderColor_ccc: #ccc; //表格线#ccc
$dangerColor: #ff0000; //红色警告颜色
$loadColor: #1f6cfc; //蓝色进行中颜色
$alertColor: #ff9900; //提示颜色
$waitColor: #67971a;
$whiteColor: #fff; //白色
$selectedColor: #e4e4e4;
$yellowColor: #ff9800; //黄色提示
$orgdisabled: #ccc; //没权限组织
$mainfontsize: 0.17rem; //图标
$titlefontsize: 0.2rem; //title
$bigtitlefontsize: 0.3rem; //大title
$iconfontsize: 0.14rem; //图标
$topNavActive: #3294e8; //顶部按钮点击激活颜色

// @import 'reset';

// @import '../../../node_modules/element-ui/lib/theme-chalk/index.css';
@import 'common/common';
