@import 'common/common';
@import 'reset';
.container{
  position: absolute;
  top: 170px;
  bottom: .3rem;
  left: 20px;
  right: 20px;
  overflow: hidden;
  border-radius: 5px;
  box-shadow: 0 0px 14px $primaryColor;
  overflow-scrolling: auto;
  min-height: 350px;
}
.container .btnArea{
  height: 40px;
  padding: 5px 20px;
  line-height: 40px;
  text-align: left;
  overflow: hidden;
}
.container .pageArea{
  position: absolute;
  bottom: 10px;
  right: 20px;
}

.container .formArea{
  position: absolute;
  overflow: hidden;
  left: 1%;
  right: 1%;
  top: 8px;
  bottom: 50px;
}
.tableHead{}
.tableHead table{
  width: 100%;
  border-collapse:separate;
  border-spacing:0;
  background-color: $listHeader;
  padding: 0 15px;
  font-size: .14rem;
  color: #333;
  table-layout: fixed;
}
.tableHead table td{
  border-left: 1px solid #fff;
  height:48px;
  padding:0 4px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

}
.tableHead table td:nth-of-type(1){
  border: 0;
}
.tableBody{
  position: absolute;
  bottom: 0;
  left: 0;
  right: -17px;
  top: 100px;
  overflow-y: scroll;
  overflow-x: hidden;

}
.tableBody table{
  width: 100%;
  border-collapse:separate;
  border-spacing:0 12px;
  padding:0 1%;
  font-size: .12rem;

}
.tableBody table tr{
  border-radius: 8px;
  padding: 10px 0;
  box-shadow: 0 3px 8px #cbcbcb;
}
.tableBody table td:nth-of-type(1){
  border-left: 0;
  margin-left: 10px;
}
.tableBody table td{
  border-left: 1px solid #cbcbcb;
  height:40px;
  padding:0 4px;
  white-space: normal;
  overflow: hidden;
}


.cancelBtn{
  cursor: pointer;
  color: $btnColor;
  background: #fff;
  height: 38px;
  border: 1px solid $btnColor;
  border-radius: 3px;
  width: 120px;
}
.confirmBtn{
  color: #fff;
  background-color: $btnColor!important;
  height: 38px;
  border: 1px solid $btnColor;
  border-radius: 3px;
  width: 120px;
  cursor: pointer;
}
.confirmBtn:hover{
  color: $btnColor;
  background: #fff!important;
}

