/*表格每一行样式*/
.dataTable_proBuildProject{
  padding: 0 20px 0 50px;
  overflow-y: auto;
  height: 630px;
  position: static;
  overflow-x: hidden;
  top: 10px;
  margin-right: -17px;
}
.dataTable_proBuildProject .table-column-height{
  width: 100%;
  min-height: 30px;
  line-height: 30px
}
.dataTable_proBuildProject .row-class-name{
  box-shadow: 0 0px 8px #cbcbcb;
  border-radius: 8px;
}
.dataTable_proBuildProject .row-class-name:hover{
  box-shadow: 0 0px 9px #409eff;
}
.dataTable_proBuildProject .el-table__row:hover>td{
  border-top: 1px solid  #00b7ee !important;
  border-bottom: 1px solid  #00b7ee !important;
}
.dataTable_proBuildProject .el-table__row:hover>.frist-column{
  border-left: 1px solid #00b7ee !important;
}
.dataTable_proBuildProject .el-table__row:hover>.last-column{
  border-right: 1px solid #00b7ee !important;
}
.dataTable_proBuildProject .row-class-name td{
  border-bottom: none!important;
  border-top: 1px solid #e3e3e3 !important;
  border-bottom: 1px solid #e3e3e3 !important;
  border-right: 1px solid #e3e3e3 !important;
  padding: 5px 0;
}
.dataTable_proBuildProject .row-class-name td .cell{
  width: 100%;;overflow: hidden;word-wrap: break-word;word-break: break-all;padding: 0;
}
/*调整表格每一行间距*/
.dataTable_proBuildProject .el-table__body{
  border-collapse: separate;
  border-spacing:0px 10px ;
}
/*第一列数据*/
.dataTable_proBuildProject .frist-column{
  width: 150px !important;
  border-left: 1px solid #e3e3e3 !important;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}
/*最后一列数据*/
.dataTable_proBuildProject .last-column{
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}
/*表头单元格*/
.dataTable_proBuildProject .thead-cell{
  border-bottom: none !important;
  background-color: #CACACA !important;
  border-right: 1px solid #ffffff !important;
}
/*表头单元格*/
.dataTable_proBuildProject .thead-last-cell{
  border-bottom: none !important;
  background-color: #CACACA !important;
  border-right: 1px solid #CACACA !important;
}
.dataTable_proBuildProject .current-row td{
  /*background-color: #409eff !important;*/
}
.dataTable_proBuildProject .gutter{
  background-color: #CACACA !important;
}
.dataTable_proBuildProject .el-table__body-wrapper{
  overflow: visible;
}
.dataTable_proBuildProject .el-table__header-wrapper{
  /*position:relative;*/
  overflow:visible;
  position: absolute;
  z-index: 2;
  width: 90%;
  top: 54px;

}
.dataTable_proBuildProject .el-table__header-wrapper:before{

  width: calc(5% + 20px);
  background-color: #CACACA;
  height: 0.45rem;
  content:"";
  position:absolute;
  left:95%;
  top:0;
}
.dataTable_proBuildProject .el-table__header-wrapper:after{
  width: 50px;
  background-color: #CACACA;
  height: 0.45rem;
  content:"";
  position:absolute;
  left:-30px;
  top:0;
}
.dataTable_proBuildProject .el-table__header-wrapper:before{
  left:100%;
}
.dataTable_proBuildProject .el-table::before {
  background-color: #ffffff;
  height: 4px;
}
.dataTable_proBuildProject .el-table-column--selection .cell{
  padding: 0;
}
.dataTable_proBuildProject .el-table__header thead tr .is-leaf .cell{
  padding: 0;
}

/*表格每一行样式*/
.itemTable_proBuildProject .row-class-name{
  box-shadow: 0 0px 8px #cbcbcb;
  border-radius: 8px;
}
.itemTable_proBuildProject .row-class-name:hover{
  box-shadow: 0 0px 9px #409eff;
}
.itemTable_proBuildProject .el-table__row:hover>td{
  border-top: 1px solid  #00b7ee !important;
  border-bottom: 1px solid  #00b7ee !important;
}
.itemTable_proBuildProject .el-table__row:hover>.frist-column{
  border-left: 1px solid #00b7ee !important;
}
.itemTable_proBuildProject .el-table__row:hover>.last-column{
  border-right: 1px solid #00b7ee !important;
}
.itemTable_proBuildProject .row-class-name td{
  border-bottom: none!important;
  border-top: 1px solid #e3e3e3 !important;
  border-bottom: 1px solid #e3e3e3 !important;
  border-right: 1px solid #e3e3e3 !important;
  padding: 5px 0;
}
.itemTable_proBuildProject .row-class-name td .cell{
  width: 100%;;overflow: hidden;word-wrap: break-word;word-break: break-all;padding: 0;
}
/*调整表格每一行间距*/
.itemTable_proBuildProject .el-table__body{
  border-collapse: separate;
  border-spacing:0px 10px ;
}
/*第一列数据*/
.itemTable_proBuildProject .frist-column{
  width: 150px !important;
  border-left: 1px solid #e3e3e3 !important;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}
/*最后一列数据*/
.itemTable_proBuildProject .last-column{
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}
/*表头单元格*/
.itemTable_proBuildProject .thead-cell{
  border-bottom: none !important;
  background-color: #CACACA !important;
  border-right: 1px solid #ffffff !important;
}
/*表头单元格*/
.itemTable_proBuildProject .thead-last-cell{
  border-bottom: none !important;
  background-color: #CACACA !important;
  border-right: 1px solid #CACACA !important;
}
.itemTable_proBuildProject .current-row td{
  /*background-color: #409eff !important;*/
}
.itemTable_proBuildProject .gutter{
  background-color: #CACACA !important;
}
.itemTable_proBuildProject .el-table__body-wrapper{
  overflow: visible;
}
.itemTable_proBuildProject .el-table__header-wrapper{
  /*position:relative;*/
  overflow:visible;
  position: absolute;
  z-index: 2;
  width: 90%;
  top: 54px;

}
.itemTable_proBuildProject .el-table__header-wrapper:before{

  width: calc(5% + 20px);
  background-color: #CACACA;
  height: 0.45rem;
  content:"";
  position:absolute;
  left:95%;
  top:0;
}
.itemTable_proBuildProject .el-table__header-wrapper:after{
  width: 50px;
  background-color: #CACACA;
  height: 0.45rem;
  content:"";
  position:absolute;
  left:-30px;
  top:0;
}
.itemTable_proBuildProject .el-table__header-wrapper:before{
  left:100%;
}
.itemTable_proBuildProject .el-table::before {
  background-color: #ffffff;
  height: 4px;
}
.itemTable_proBuildProject{
  padding: 0 10px 0 50px;
  overflow-y: auto;
  height: 630px;
  position: static;
  overflow-x: hidden;
  top: 10px;
  margin-right: -17px;
}
.itemTable_proBuildProject .top {
  position: absolute;
  top: 50%;
  left: 50%;
  margin:-5px 0 0 0!important;
  transform: translate(-50%, -50%);
}
.itemTable_proBuildProject .top ul li {
  float: left;
  width: 75px;
}
.itemTable_proBuildProject .top ul li:hover {
  cursor: pointer;
}
.itemTable_proBuildProject .top ul li div img {
  width: 30px;
}

.itemTable_proBuildProject .top-content{
  width: 100%;
  background-color: aliceblue;
  height: 50px;
}
.itemTable_proBuildProject .top-content .top-left{
  width: 30%;
  line-height: 50px;
  height: 50px;
  font-size: 0.18rem;
  font-family: 宋体;
  display: inline-block;
  text-align: left;
  float: left;
  margin-left:30px;
}
.itemTable_proBuildProject .top-content .top-center{
  width: 30%;
  line-height: 50px;
  height: 50px;
  font-size: 0.18rem;
  font-family: 宋体;
  display: inline-block;
}
.itemTable_proBuildProject .top-content .top-right{
  width: 30%;
  line-height: 50px;
  height: 50px;
  font-size: 0.18rem;
  font-family: 宋体;
  display: inline-block;
  text-align: right;
  float: right;
}
.itemTable_proBuildProject .top-content .top-right .card{
  background-color: #39b49b;
  border-radius: 15px;
  width: 180px;
  float: right;
  height: 30px;
  line-height: 30px;
  margin-top: 10px;
  text-align: center;
  color: #ffffff;
}

.itemTable_proBuildProject .context ul li{
  width: 20%;
  float: left;
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.itemTable_proBuildProject .context ul li span{
  height: 30px;
  line-height: 30px;
}
.itemTable_proBuildProject .status-row{
  text-align: center;
}
.itemTable_proBuildProject .status-row .status-context{
  width: 70px;
  height: 70px;
  display: inline-block;
  border: 2px solid #3495E8;
  border-radius: 35px;
  line-height: 70px;
  color:#3495E8 ;
  font-size: 0.14rem;
}
.itemTable_proBuildProject .el-table-column--selection .cell{
  padding: 0;
}
.itemTable_proBuildProject .el-table-column--selection .cell{
  padding: 0;
}
.itemTable_proBuildProject .el-table__header thead tr .is-leaf .cell{
  padding: 0;
}
